<?xml version="1.0" encoding="ISO-8859-1" ?>
<config>
	<tmpDir>/WEB-INF/tmp/</tmpDir>
	<outputDir>/WEB-INF/output/</outputDir>
	<tmpFileName>cwb_tmp</tmpFileName>
	<outputFileName>cwb_output</outputFileName>
	<owlFileFormat>.owl</owlFileFormat>
	<namespace>http://cwb.imag.fr</namespace>
</config>