/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin cwbtheme {
  /* Include all the styles from the reindeer theme */
  @include reindeer;
  @include fonticons;
  
  /*
   * Workaround for placing header in the menu bar.
   */
  
  .v-spacing {
	  	height: 7px;
		width: 14px;
  }
  
  .h1 {
	  	width: 190px !important;
  		position: absolute;
  		top: -3px;
		right: 0;
  		font-size: 16px;
  }
  
  /*
   * Custom instance info panel on map
   */
  
  .geospatial-coeff-panel table td {
	  padding: 0 10px 0 10px !important;
  }
  
  .geospatial-coeff-panel .v-panel-content {
	  border-radius: 6px;
  }
  
  /*
   * Overriding FancyLayout add-on css
   */
  
  .fancy-notifs .fancy-notif {
	  	border-radius: 4px;
		background-color: rgba(0, 0, 0, 0.75);
  }
  
  .fancy-notif-error {
	  	background-color: rgba(200, 0, 0, 0.75) !important;
  }
  
}
